.channelRow {
  display: flex;
  align-items: center;
}

.channelRow__avatar {
  flex: 0.4;
}
.avatar {
  height: 120px !important;
  width: 120px !important;
  margin: 10px 60px;
}

.channelRow__desc {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.channelRow__desc > h2 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.channelRow__desc > p {
  font-size: small;
  color: gray;
  line-height: 18px;
}

.channelRow__desc > .channelRow__desc__button {
  display: none;
}

.channelRow__right {
  flex: 0.3;
  display: flex;
  align-items: center;
}

.channelRow__right > .channelRow__right__button {
  margin-right: 20px;
}

@media screen and (max-width: 660px) {
  .channelRow__avatar {
    flex: 0.2;
  }
  .avatar {
    margin: 10px 30px;
  }
  .channelRow__desc {
    flex: 0.6;
  }
  .channelRow__desc__desc {
    display: none;
  }
  .channelRow__desc > .channelRow__desc__button {
    display: inline-block;
  }
  .channelRow__right {
    display: none;
  }
}
